<%- include ('./partials/_header'); %>

<br><br><br><br><br><br><br>
<section class="page-section" id="inicio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Ofrecemos</h2>
            <h3 class="section-subheading text-muted">Puertas de buena calidad.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Trabajamos</h4>
                <p class="text-muted"> En distintos materiales como madera mdf abeto pino cedro arce haya fresno </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Nuestro Trabajo</h4>
                <p class="text-muted">Nuestro Trabajo es de calidad nuestros clientes estan satisfechos por las obras entregadas nuestro trabajo tiene una exelente garantia no tenemos competencia nuestro trabajo es realizado de la mejor  manera para usted.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Su Diseño</h4>
                <p class="text-muted">Usted nos trae su diseño nosotros lo realizamos con todos los detalles requeridos y asi notros lograremos satisfacer su necesidad confie en nosotros en nuestro trabajo y nose arrepentira.</p>
            </div>
        </div>
    </div>
</section>


<br><br><br><br><br><br>


<section class="page-section bg-light" id="Diseños">
    <div class="container">
        <div class="text-center">
            <h3 class="section-subheading text-muted">Nuestras puertas estan diseñadas con materiales duraderas
              de exelente calidad.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img src="" alt="">
                        <img class="img-fluid" src="" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Diseño en Mdf</div>
                        <div class="portfolio-caption-subheading text-muted">Realizados con detalles 
                          especificos tal cual el modelo e intercaado con los respectivos moldes</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="acceso/img/portfolio/2.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Pino</div>
                        <div class="portfolio-caption-subheading text-muted">Realizado con minisuosamente 
                          con todas las respectivas herramientas </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="acceso/img/portfolio/3.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Puerta Mdf</div>
                        <div class="portfolio-caption-subheading text-muted"> Realizado con mi</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="acceso/img/portfolio/4.jfif" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Pueta de arce</div>
                        <div class="portfolio-caption-subheading text-muted">Esta puerta tiene un diseño unico para la cocina ya que tiene unos peueños recuadros en las cuales colocamos Vidrios</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Portfolio item 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="acceso/img/portfolio/5.jfif" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Puerta Cedro</div>
                        <div class="portfolio-caption-subheading text-muted">Esta puerta esta diseñada para el baño esta tiene un diseño unico y exclusivo son una apertura en el medio ya que se coloca una pequeña plancha de triplex</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Portfolio item 6-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="acceso/img/portfolio/6.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Puera en Pino</div>
                        <div class="portfolio-caption-subheading text-muted">Esta puerta es elaborada para las cabañas ya que son eficientes para el ingreso</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br><br><br><br><br><br><br><br>

<section>
  <section class="page-section bg-light" id="Comprar">

<div class="container">
    <div class="row mt-5">
        <div class="col md-7">
            <table class="table table-hover">
                <thead class="table-bordered table-hover" style="background-color: #1B9C96">
                <head>
                    <tr>
                        <th>N°</th>
                        <th>Cliente</th>
                        <th>Modelo</th>
                        <th>Cantidad</th>
                        <th>Telefono</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </head>
                </thead>
                <tbody >
                    <% if(data){ %>
                        <% for (var i = 0; i < data.length; i++) { %>
                            <tr class="table-bordered">
                                <td><%= (i + 1) %></td>
                                <td><%= data[i].cliente %></td>
                                <td><%= data[i].modelo %></td>
                                <td><%= data[i].cantidad %></td>
                                <td><%= data[i].telefono %></td>
                                <td>
                                    <a href="/update/<%= data[i].id %>" class="btn btn-sm btn-outline-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                      </svg></a>
                                </td>
                                <td>
                                    <a href="/delete/<%= data[i].id %>" class="btn btn-sm btn-outline-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                      </svg></a>
                                </td>
                                
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>

        <div class="col md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="post">

                        <div class="form-group">
                            <input type="text" name="cliente" placeholder="Cliente" class="form-control">
                        </div>
        
                        <div class="form-group">
                            <input type="text" name="modelo" placeholder="Modelo" class="form-control">
                        </div>
        
                        <div class="form-group">
                            <input type="text" name="cantidad" placeholder="Cantidad" class="form-control">
                        </div>
                        
                        <div class="form-group">
                            <input type="text" name="telefono" placeholder="Telefono" class="form-control">
                        </div>
        
                        <button type="submit" class="btn btn-outline-success"> Guardar Registro</button>
        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</section>






<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<section class="page-section" id="informacion">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Informacion</h2>
            <h3 class="section-subheading text-muted">Puertas de buena calidad.</h3>
        </div> <br><br><br><br><br>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">LA MEJOR CALIDAD LA TENEMOS EN ESTE LUGAR</h4>
                <p class="text-muted"></p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Estamos ubicados en la ciudad de Latacunga</h4>
                <p class="text-muted">A una cuadra del Salto calle Las Betlemitas</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Contactos</h4>
                <p class="text-muted">Llamanos al 0999999999 <br> o escribenos a carpinteriaSP@hotmail.com</p>
            </div>
        </div>
    </div>
</section>
<br><br><br><br><br><br><br>



<%- include ('./partials/_footer'); %>